.banner {
	height: 150px;
	background: #af2323;
	border-bottom: 10px solid #000;
}

.logo {
	max-height:225px;
	height: auto;
	max-width:562px;
	width: auto;
	float: left;
}

div{
	display: block;
}

body{
	margin: 0;
	font-family: Helvetica;
	background: #ce7227;
}

.navbar{
	list-style: none;
	display: inline;
	float: right;

}

.banner a:hover{
	color: #000;
}


#footer > li{
	display: inline;
	border-left: solid 1px #000;
	padding: 0 10px;
	color: #000;
}

#footer > li.first{
	border-left: none;
}

.content{
	margin: 30px 30px;
	padding:20px 20px;
	background-color: white;
	border: 5px solid #000;
}

#footer{
	padding: 10px;
	text-align: center;
	position: relative;
	font-size: 15px;
}


