.banner {
	height: 200px;
	background: #af2323;
	border-bottom: 10px solid #000;
}

.logo {
	max-height:100px;
	height: auto;
	max-width:288px;
	width: auto;
	float: left;
	background-image:url('../images/jtdeditsLogo.png');
}

div{
	display: block;
}

body{
	margin: 0;
	font-family: Helvetica;
}
